
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

$primary-color: #D2E0FB;
$secondary-color: #8EACCD;
$font-stack: Sora, sans-serif;


body {
    font: 100% $font-stack;
}